body {
    margin: 0;
    padding: 0;
    background-color: blue;
}
nav {
    text-align: center;
    color: white;
}
h1{
    margin: 0 10px;
    display: inline-block;
    width: 300px;
}
a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 2px;
}
img {
    display: inline-block;
}
.information {
    display: inline-block;
    width: 1000px;
    text-align: right;
    text-decoration: none;
}
.header {
    position: sticky;
    top: 0;
    height: 40px;
    background-color: black;
    color: white;
}
.body {
    background-color: white;
    width: 950px;
    margin: 0 200px;
    height: 650px;
    border-radius: 30px;
}
.nomor-hp {
    width: 100%;
}
.jumlah {
    width: 100%;
}
#box{
    display: inline-block;
    margin: 20px 32px;
    height: 300;
    width: 250;
    vertical-align: middle;
}
#box p{
    text-align: left;
    padding: 0 2px;
}
#box img{
    width: 100%;
}
footer{
    text-align: center;
    background-color: black;
    font-family: Helvetica;
    margin-bottom: 0;
    height: 40px;
    color: white;
}
p {
    padding: 10px;
}
