body {
    margin: 0;
    padding: 0;
    background-color: blue;
}
nav {
    text-align: center;
    color: white;
}
h1{
    margin: 0 10px;
    display: inline-block;
    width: 24%;
    font-size: 2.5vw;
}
a {
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
    padding: 2px;
}
img {
    display: inline-block;
}
.information {
    display: inline-block;
    width: 72%;
    text-align: right;
    text-decoration: none;
}
.header {
    position: sticky;
    top: 0;
    height: 3vw;
    background-color: black;
    color: white;
}
.body {
    background-color: white;
    width: 71vw;
    margin: 0 14vw;
    height: 50vw;
    border-radius: 30px;
}
.nomor-hp {
    width: 100%;
}
.jumlah {
    width: 100%;
}
#tulisan{
    font-size: 1vw;
}
#tulisan input {
    height: 1.7vw;
}
#box{
    display: inline-block;
    margin: 20px 2.3vw;
    height: 18vw;
    width: 18vw;
    vertical-align: middle;
}
#box p{
    text-align: left;
    padding: 0 2px;
}
#box img{
    padding-top: 20px;
    width: 100%;
}
footer{
    text-align: center;
    background-color: black;
    font-family: Helvetica;
    margin-bottom: 0;
    height: 40px;
    color: white;
    bottom: 0;
    position: sticky;
}
p {
    padding: 10px;
}
